.spreadsheet {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #808080;

  .scroll-wrapper {
    height: 100%;
    position: relative;
    overflow: auto;
  }
  .grid {
    position: sticky;
    bottom: 0;
  }

  &-message {
    text-align: center;
    color: black;
  }

  &-row {
    display: inline-flex;
    color: black;
    justify-content: center;

    &-cell {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      width: 200px;
      overflow: hidden;
      border: 0.5px solid grey;
    }
  }

  @media only screen and (max-width: 768px) {
    &-row {
      display: inline-flex;
    }
  }
}
